[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=3.1.13"
djangorestframework = "*"
markdown = "*"
dj-database-url = "*"
Pillow = ">=10.2.0"
psycopg2-binary = "*"
pylint-django = "*"

[dev-packages]

[requires]
python_version = "3.8"
